<%=form_for @group do |f| %>
  <div class="form-group">
  <%= f.label :name %>
   <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :avatar %>
<%= f.text_field :avatar, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status, class: "form-control" %>
    </div>

<%= f.submit "Update Group" %>

<% end %>


<%=form_for @user_group do |f| %>
  <div class="form-group">
  <%= f.label :user_id %>
  <%= f.collection_select(:user_id, User.all, :id, :username) %>
  </div>
  <div class="form-group">
  <%= f.hidden_field(:group_id, value: "#{@group.id}") %>

  </div>
<%= f.submit "Add User" %>

<% end %>






