    <header>
      <nav class="nav">
        <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In!', new_user_session_path, class: "signin" %></li>
      <% end %>
        <li><%= link_to "Calendar", calendars_path, class: "current" %></li>
        <li><%= link_to "Root", root_path %></li>
        <li><%= link_to "My Groups", groups_path %></li>
        <li><%= link_to "Users", users_path %></li>
        </ul>
      </nav>
    </header>


<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<h1 class="center month"><%= start_date.strftime("%B") %> <%= start_date.strftime("%Y") %></h1>

<% weather = JSON.parse(@response.body)["main"] %>
<%= weather %>
<%= weather["temp"] %>
<div class="hello"><% @users.first.email %></div>



<table class="calendar">
<thead>
<tr class="weekdays">
<% date_range.slice(0,7).each do |date| %>
<th><em><%= I18n.t("date.day_names")[date.wday] %></em></th>
<% end %>

</tr>
</thead>

<tbody>
    <% date_range.each_slice(7) do |week| %>
        <tr class="days">
        <% week.each do |day|%>
        <td> <%= day.strftime("%d") %></td>
        <% end %>
        </tr>
    <% end %>
</tbody>
</table>